@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #141413;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #443C68;
    --cor-hover: #443C68;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
display: flex;
gap: 80px;

}

.cabecalho-menu {
font-family: var(--fonte-secundaria);
font-size: 1.5rem;
font-weight: 600;
color: var(--cor-terciaria);
text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex; 
    flex-direction: column;
    gap: 40px;
    
}
.apresentacao-do-titulo {
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 593px;
    height: 168px;
}
.apresentacao-do-paragrafo {
    font-family: var(--fonte-secundaria);
    font-style: normal;
    font-weight: 350px;
    font-size: 1.5rem;
    line-height: 36px;
    text-align: start;
    width: 593px;
    height: 100%;
}

.links-de-acao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.link-acesse-minhas-redes {
    font-family: var(--fonte-principals);
    font-weight: 400;
    font-size: 1.5rem;
}

.botoes-de-acao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.botoes-de-acao:hover {
    transition: 0.5s;
background-color: var(--cor-hover);
}

.apresentacao__imagem {

width: 10%;
height: 10%;

}

.rodape {
    padding: 28.64px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    
}

@media (max-width: 1200px) {
    .cabecalho {

    padding: 10%;

    }

    .cabecalho-menu {

    justify-content: center;

    }

 .apresentacao{
    padding: 5%;

    flex-direction: column-reverse

 }

 .apresentacao__conteudo {

    width: auto;
 }

}